* {
    box-sizing: border-box;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
}

.getImageBtn {
    background-color: rgba(12, 155, 244, 0.9);
    border-radius: 5px;
    margin: auto;
    width: 10em;
    height: fit-content;
    text-align: center;
    cursor: pointer;
    padding: 0.6em;
}

.getImageBtn:hover {
    background-color: rgba(12,155,244, 0.7);
}

.myImage {
    margin-left: 20px;
}
